<ion-view class="auth-view" cache-view="false">
    <ion-content scroll="false">
        <div class="row">
            <div class="col col-center">
                <img src="img/dalla_logo.png" class="logo" />
                <div class="card forgot-password-container">
                    <div class="list list-inset">
                        <form name="forgot_password_form" class="" novalidate>
                            <label class="item item-input">
                            	<input type="text" placeholder="Username or Email" name="user_name" ng-model="user.uname" required>
                            </label>
                            <button type="submit" class="button button-block button-calm button-pimped" ng-click="recoverPassword()" ng-disabled="forgot_password_form.$invalid">
                            Recover it
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
