<ion-view class="walkthrough-view" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row">
      <div class="col col-center">
        <img ng-src="../../img/mu_logo.svg">
        <h4 class="mu-font">Meet. Connect. Chat</h4>
      </div>
    </div>
    <div class="bottom-content row">
      <div class="col col-center">
        <a class="login button button-block mu-font button-pimped" ui-sref="auth.login">
          Login
        </a>
        <a class="sign-up button button-block button-stable mu-font" ui-sref="auth.signup">
          Sign Up
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
